section.container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  section[class^="template-"] {
    width: 200px;
    height: 300px;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
  }
}
